body  {
    background: rgb(72, 72, 72);
margin: 45px;
font-family: "Libertinus Serif", serif;
}

header { 
    border-bottom: solid 1px rgb(255, 255, 255);
    color: white;
    padding: 15px;
    font-size: 34px;
    background: rgb(0, 0, 0)
}

section {
    background: rgb(50, 50, 50);
    padding: 80px;
    padding-top: 10px;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    font-size: 65px;
background: rgb(50, 50, 50);
}


.divi {
    margin-left: 50px;
}

    
p {
     margin-left: 50px;
     margin-top: 1px;
}

h3 {
    font-size: 60px;
    color: white;
}

b {
     display: flex;
    justify-content: center;
}

c {
    display: flex;
    justify-content: center;
}

.magem {
    padding-bottom: 5px;
    height: 200px;
}

.categoria {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

h5 {
    margin-block-end: 1px;
    padding-bottom: 2px;
    font-size: 30px;
    padding-left: 10px;
    justify-content: right;
    color: aliceblue;
}

.borda {
    padding-top: 1px;
    padding-left: 20px;
    padding-right: 20px;
}

h6 {
   font-size: 60px;
    color: white; 
}

.deve {
    padding-top: 1px;
     background: rgb(50, 50, 50);
    display: flex;
    justify-content: baseline;
}

.categoria img {
    opacity: 0.5;
}

.categoria img:hover {
    opacity: 1.0;
    border: 3px solid white;
}

.titulo {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 50px;
    color:rgb(255, 255, 255)

}

.po {
    padding-bottom: 0px;
    color: white;
    font-size: 30px;
}

.pa {
    padding-top: 0px;
    color: white;
    font-size: 30px;
}

.ja {
    padding-bottom: 0px;
    color: white;
    font-size: 30px;
}

.fr {
    padding-right: 20px;
   font-size: 60px;
    color: white; 
}

.re {
   padding-right: 20px;
   font-size: 60px;
    color: white;   
}

.pl {
    padding-left: 60px;
}

.ti {
    padding-right: 32px;
}

.gt {
     padding-right: 20px;
   font-size: 60px;
    color: white; 
}