body  {
    background: rgb(54, 54, 54);
margin: 45px;
font-family: "Libertinus Serif", serif;
}

header { 
    border-bottom: solid 1px black;
    padding: 15px;
    font-size: 34px;
    background: rgb(172, 230, 186)
}

section {
    background: rgb(142, 127, 127);
    padding: 80px;
    padding-top: 10px;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    font-size: 65px;
background: rgb(254, 254, 254);
}


a {
    margin-left: 50px;
}

