body  {
margin: 12px;
font-family: "Libertinus Serif", serif;
}

header { 
    border-bottom: solid 1px black;
    padding: 15px;
    font-size: 34px;
    background: rgb(172, 230, 186)
}

section {
    background: rgb(255, 255, 255);
    padding: 80px;
    padding-top: 10px;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    font-size: 65px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjNYGJG1TSnvGxrYRZpb3rl-2eMrnbbjho_A&s);
    background-size: 2000px;
}


a {
    margin-left: 50px;
}

